.hide{
	display: none;
}
#line1{
	opacity: 0;
	position: absolute;
	left: 338px;
	top: 257px;
	border: 1px solid;
	border-color: purple;
	width: 80px;
	height: 1px;
	padding: 0;
	color: #000000;
	background: #000000;
	transform: translate((-50%,-50%));
	transform: rotate(78.7deg);
	
}


#line2{
	opacity: 0;
	position: absolute;
	left: 558px;
	top: 227px;
	border: 1px solid;
	border-color: purple;
	width: 80px;
	height: 1px;
	padding: 0;
	color: #000000;
	background: #000000;
	transform: translate((-50%,-50%));
}
@keyframes linemove
	{
	from {opacity: 0.1;
	}
	
	to {	opacity: 1;
	position: absolute;
	left: 518px;
	top: 60px;
	transform: rotate(0);
	
	}
	
	}
	
	@keyframes linebigger
		{
		from {opacity: 1;
		position: absolute;
		left: 518px;
		top: 60px;
		transform: rotate(0);
		}
		
		to {	opacity: 1;
		position: absolute;
		left: 518px;
		top: 60px;
		transform: rotate(0);
		width: 180px;
		}
		
		}
@keyframes show
	{
	from {opacity: 0.1;
	}
	
	to {	opacity: 1;

	}
	
	}
		
	@keyframes showline2
		{
		from {
			
		}
		
		to {	width: 80px;
			opacity: 1;
		}
		
		}	
		
@keyframes pointred
	{
	
		
		from {opacity: 0.1;
		}
		to {	
		color: black;
		background: red;
		opacity: 1;
		}
		
		}	
		
@keyframes pointblue
	{
	
		
		from {opacity: 0.1;
		}
		to {	
		color: black;
		background: blue;
		opacity: 1;
		}
		
		}			
		

@keyframes hide
	{
	from {opacity: 1;
	}
	
	to {	opacity: 0;
	}
	
	}	
	
	
	.buttongroup{
		margin: 40px;
		margin-left: 200px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(246, 41%, 21%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate(50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate(50%, -50%) scale(15);
}