.point{
	color:skyblue;
	font-size: 30px;
}
.rec{
	
	border-color: purple;
	width: 300px;
	height: 500px;
	color: #000000;

}
#rec1{border: 5px solid;
border-color: purple;
	opacity: 0;
	position: absolute; 
	left: 628px; top: 68px;
}

@keyframes rec1move
{
from {
	opacity: 0.1;
	position: absolute; 
	left: 628px; top: 28px; 
	width: 400px;
	height: 600px;}
to {
	opacity: 1;
	display: block;
	width: 300px;
	height: 500px;
	
	}
	
}

#rec2{
	border: 5px  solid;
	border-color: purple;
	opacity: 0;
	position: absolute; 
	left: 288px; top: 68px; 
}

@keyframes rec2move
{
from {
	opacity: 0.1;
	position: absolute; 
	left: 248px; top: 28px; 
	width: 400px;
	height: 600px;}
to {opacity: 1;
	width: 300px;
	height: 500px;

	}

}

#rec3{
	border: 5px dashed;
	border-width: 0px 3px 0px 3px;
	opacity: 0;
	position: absolute; 
	width: 200px;
	height:500px ;
	left: 508px; top:48px; 
}



@keyframes pointmove
{
from {opacity: 0.1;}
to {	opacity: 1;}
}


#point1{
	position: absolute; 
	left: 768px; top: 508px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}


#point2{
	position: absolute; 
	left: 708px; top: 408px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

#point3{
	position: absolute; 
	left: 388px; top: 308px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

#point4{
	position: absolute; 
	left: 428px; top: 428px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

#point5{
	position: absolute; 
	left: 548px; top: 228px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

#point6{
	position: absolute; 
	left: 368px; top: 208px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

#point7{
	position: absolute; 
	left: 648px; top: 228px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

#point8{
	position: absolute; 
	left: 488px; top: 088px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}
#point9{
	position: absolute; 
	left: 828px; top: 288px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}
#point10{
	position: absolute; 
	left: 888px; top: 128px; 
	cursor: pointer;
	width: 20px;height: 20px;
	border-radius: 10px;
	background: black;
	margin: 0;
	transform: translate(-50%,-50%);

}

